@font-face {
    font-family: "JetBrainsMono-Regular";
    src: url('../assets/fonts/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: "JetBrainsMono-Bold";
    src: url('../assets/fonts/JetBrainsMono-Bold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: "Lato-Italic";
    src: url('../assets/fonts/Lato-Italic.ttf') format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: "Lato-Italic";
    src: url('../assets/fonts/Lato-Italic.ttf') format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: "Lato-Italic";
    src: url('../assets/fonts/Lato-Italic.ttf') format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: "Lato-Italic";
    src: url('../assets/fonts/Lato-Italic.ttf') format('truetype');
    font-weight: 200;
}

